<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>247837577160-k0gnhs1o75ar1dlp9mdojljeg8ol246c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.247837577160-k0gnhs1o75ar1dlp9mdojljeg8ol246c</string>
	<key>API_KEY</key>
	<string>AIzaSyBzaeZM-bsm3Sc5Olmx73bCgJOxu8PWBMc</string>
	<key>GCM_SENDER_ID</key>
	<string>247837577160</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tr.com.mobilist.spacexfan</string>
	<key>PROJECT_ID</key>
	<string>spacexfan-3f15d</string>
	<key>STORAGE_BUCKET</key>
	<string>spacexfan-3f15d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:247837577160:ios:91ea650055ababd6de3afd</string>
</dict>
</plist>